* {
    margin: 0;
 
}
h1 {
    font-size: 2em;
  }
  
  p {
    font-size: 1.2rem;
    max-width: 800px;
    word-wrap: break-word;
    line-height: 1.5;
  }
  input[type="button"] {
    max-width: 60%;
    width: 10em;
    font-size: 1.2em;
    height: 3em;
    padding: 0.5em;
    margin: 20px 10;
    
  }

  @media only screen and (max-width: 1000px) {
    .seletor-do-container {
      flex-direction: column;
    }
  }
  img {
  max-width: 100%;
  height: auto;
}
  input[type="range"] {
    width: 50%;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
  }

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 300vh;
    background-image: linear-gradient(rgb(3, 51, 3), #0d690d, rgb(76, 201, 76)) !important;
    margin: 0;

}
nav{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 10%;
}

.titulo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    color:white;
    margin-left: 3%;
    margin-right: 2%;
 
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items:center; */
    width: 100%;
    height: 90%;
}






.divledgeral{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
    
    
}

.tituloled{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 20%;
    color: black;
}
.grupoled{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 40%;
    
    
}
.divled{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height:100%;
    margin: 2%;
 
}

.botaoL1,.botaoL2,.botaoL3,.botaoL4,.botaoL5,.botaoL6{
    border-radius: 25px;
    color:black;
    width: 50%;
    height: 35%;
    margin-left: 3%;
    margin-right: 3%;

}
.leddesligado,.botaoDesligado{
    background-color: rgb(8, 250, 8);
}

.ledligado,.botaoLigado{
    background-color: red;
}


.divbotaogeral{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    color:black;
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
    
}

.botaoteste1,.botaoteste2{
    width: 20%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom: 3%;
   
    
    
}

.testebotao1,.testebotao2{
    border-radius: 25px;
    color:black;
    width: 10%;
    height: 25%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: dimgrey;
    margin-bottom: 3%;
 
}

.botaolinha{
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 3%;
    color: black;
}
.titulobotao{
    margin-top: 4%;
}
.preparaanalogica{
    width: 50%;
    height: 100%;
}



.Analogica,
.Analogica0,
.Analogica1,
.Analogica2,
.Analogica3,
.Analogica4,
.Analogica5 {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: normal;
    color:black;
    margin: 2%;

    
}
.analogicamenor{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color:black;
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
}
.analogicaleft {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    color:black;
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
}
.analogicatitulo {

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    color:black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

    
}


.servocenter {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color:black;
    
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
}
.tituloservo{
    text-align: center;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   

}
.servo {
    color: black;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    
}

.angulo1,
.angulo2,
.angulo3,
.angulo4 {
    width: 40%;
}

.servo1{
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2%;
}




