* {
    margin: 0;
 
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 150vh;
    background-image: linear-gradient(rgb(3, 51, 3), #0d690d, rgb(76, 201, 76)) !important;
    margin: 0;

}
nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 15%;
}

.titulo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    color:white;
    margin-left: 3%;
    margin-right: 2%;
 
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items:center; */
    width: 100%;
    height: 90%;
}


.m1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 50%;
    padding-bottom: 1%;
    
    
    
}

.m2 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
   
}

.divledgeral{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
    
    
}

.tituloled{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 20%;
    color: black;
}
.grupoled{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 40%;
    
    
}
.divled{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 33.33%;
    height:100%;
 
}

.botaoL1,.botaoL2,.botaoL3,.botaoL4,.botaoL5,.botaoL6{
    border-radius: 25px;
    color:black;
    width: 50%;
    height: 35%;
    margin-left: 3%;
    margin-right: 3%;

}
.leddesligado,.botaoDesligado{
    background-color: rgb(8, 250, 8);
}

.ledligado,.botaoLigado{
    background-color: red;
}


.divbotaogeral{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 100%;
    color:black;
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
    
}

.botaoteste1,.botaoteste2{
    width: 30%;
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 1%;
    
}

.testebotao1,.testebotao2{
    border-radius: 25px;
    color:black;
    width: 30%;
    height: 35%;
    margin-left: 3%;
    margin-right: 3%;
 
}

.botaolinha{
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 3%;
    color: black;
}
.titulobotao{
    margin-top: 4%;
}




.Analogica,
.Analogica0,
.Analogica1,
.Analogica2,
.Analogica3,
.Analogica4,
.Analogica5 {

    position: relative;
    display: flex;
    flex-direction: column;
    color:black;
    padding-left: 8%;

    
}

.analogicaleft {

    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    color:black;
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
}
.analogicatitulo {

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    color:black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

    
}


.servocenter {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    color:black;
    
    background-image: linear-gradient(rgb(52, 134, 52), #66ad66, rgb(167, 235, 167)) !important;
}
.tituloservo{
    text-align: center;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   

}
.servo {
    color: black;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.angulo1,
.angulo2,
.angulo3,
.angulo4 {
    width: 40%;
}

.servo1{
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2%;
}




